# virtual env
Pipfile
Pipfile.lock
env/

# migrations
account/migrations/*
!account/migrations/__init__.py
estate/migrations/*
!estate/migrations/__init__.py

# pycache
core/__pycache__/*
account/__pycache__/*
estate/__pycache__/*
estate/api/__pycache__/*

# database
db.sqlite3

# media uploader directory
uploads/